<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">
    <title>Hospital Management Website</title>
    <link rel="stylesheet" href="fullstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="sub-header">
        
        <nav>
           
            <div class="nav-links">
                <ul>
                    <li><a href="C:\Users\KEM\Desktop\PROJECT\Hospital Website\Full.html">HOME</a></li>
                    <li><a href="About.html">ABOUT</a></li>
                    <li><a href="Departments.html">DEPARTMENTS</a></li>
                    <li><a href="Appointment.html">APPOINTMENTS</a></li>
                    <li><a href="Contact.html">CONTACTS</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                </ul>
            </div>
        </nav>
        
    <h1>About Us</h1>
    </section> 

   <!----- about us content ----->
   <section class="about-us">
    <h1 align="center"> Why Choose Us</h1>
        <div class="row">
            <div class="about-col">
                <h1>State of the Art Equipment</h1>
                <p>We have state of the art equipment for diagnosis, life support and emergency services connected across our 
                    branches and shared with clinical teams for better turnaround time</p>
                <h1>Quality Policy</h1>
                <p>We adhere to the industry stipulated policies and quality control measures to ensure high standards i our 
                    services</p>
                <h1>Affordable Healthcare</h1>
                <p>We partner with medical professionals to ensure affordable universal healthcare closer to the people and 
                    across our borders</p>
                <h1>Dedication</h1>
                <p>We are comitted to delivering the most effective and most compassionate care to all our patients</p>
                
            </div>
            <div class="about-col">
                <img src="IMAGES/about2.jpg">
            </div>
        </div>
      
   </section>

   <section class="doctors">
    <h1 align="center"> Our Staff</h1>
    <p align="center">We have the best and most trained staff in our hospital at your service. They provide good services to our clients.</p>
        <div class="row">
            <div class="about-col">
                <h1>They include:</h1>
                <h2>Doctors</h2>
                <p>They assess and manage your medical care</p>
                <h2>Nurses</h2>
                <p>They assess, plan and administer your daily treatment and manage your general health</p>
                <h2>Allied Health Professions</h2>
                <p>They assess, diagnose and treat conditions and worrk to prevent disease and disability. They include: Dietitians, 
                    Occupational Therapist, Pharmacists etc</p>
                <h2>Other Hospital Staff</h2>
                <p>Keeping a hospital running requires a great deal of organization and administration. During your hospital stay, you will see
                     a wide range of support staff taking care of everything from laundry and meals to patient, transport and maintenance</p>
              
            </div>
            <div class="about-col">
                <img src="IMAGES/doc1.jpg">
            </div>
        </div>
      
   </section>



    <!----- Footer ----->

    <section class="Footer">
        <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
        </div>
        <p> &copy;Kinyua Ephantus</p> 
    </section>
</body>
</html>