<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">
    <title>Hospital Website</title>
    <link rel="stylesheet" href="fullstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="sub-header">
        
        <nav>
           
            <div class="nav-links">
                <ul>
                    <li><a href="C:\Users\KEM\Desktop\PROJECT\Hospital Website\Full.html">HOME</a></li>
                    <li><a href="About.html">ABOUT</a></li>
                    <li><a href="Departments.html">DEPARTMENTS</a></li>
                    <li><a href="Appointment.html">APPOINTMENTS</a></li>
                    <li><a href="Contact.html">CONTACTS</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                </ul>
            </div>
        </nav>
    <h1>Appointments</h1>     
    </section>  
    </head>
    
    <body>
        <section class="Appointment">
        <p align = "center"> <b> <i> Kindly select the level of the patient </i> </b> </p>
        <basefont size ="6">
            <div class="row">
                <div class="app-colC">
                    <h2>Child</h2>
                    <p class="papp">This is for patients who are 18 years and below </p>
                </div>   
                <div class="app-colA">
                    <h2>Adult</h2>
                    <p class="papp">This is for patients who are in the range of 19 to 69 years</p>
                </div>
                <div class="app-colE">
                    <h2>Elderly</h2>
                    <p class="papp">This is for patients who are 70 years and above</p>
                </div>
            </div>
            <div class="row">
                <div class="app-btn">
                     <a href="childapp.html"><button class="button button1"><b>CHILD</b></button></a> 
                     <br><br>
                </div>
                <div class="app-btn">
                    <a href="adultapp.html"><button class="button button2"><b>ADULT</b></button></a> 
                    <br><br>
                </div>
                <div class="app-btn">
                    <a href="elderlyapp.html"><button class="button button3"> <b>ELDERLY</b></button></a>
                    <br><br>
                </div>
            </div>
        </section>
        
        <section class="Footer">
            <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            </div>
            <p> &copy;Kinyua Ephantus</p> 
        </section>
    </body>
</html>