<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="doc_dashstyle.css">
        <script src="https://kit.fontawesome.com/79d8ba98e5.js" crossorigin="anonymous"></script>
        <title>Doctors</title>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-clinic-medical"></i>
                            <div class="title">Admin Dashboard</div>
                        </a>
                    </li>
                    <li>
                        <a href="admin_dashboard.html">
                            <i class="fas fa-th-large"></i>
                            <div class="title">Dashboard </div>
                        </a>
                    </li>
                    <li>
                        <a href="appointment_dashboard.html">
                            <i class="fas fa-stethoscope"></i>
                            <div class="title">Appointments</div>
                        </a>
                    </li>
                    <li>
                        <a href="newp_dash.html">
                            <i class="fa-solid fa-thermometer"></i></i>
                            <div class="title">New Patient</div>
                        </a>
                    </li>
                    <li>
                        <a href="doc_dashboard.html">
                            <i class="fas fa-user-md"></i>
                            <div class="title">Doctors</div>
                        </a>
                    </li>
                    <li>
                        <a href="finance.html">
                            <i class="fas fa-hand-holding-usd"></i>
                            <div class="title">Payments</div>
                        </a>
                    </li>
                    <li>
                        <a href="C:\Users\kinyu\OneDrive\Desktop\PROJECT\Home Page\LOGIN\login.html">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <div class="title">Logout</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="top-bar">
                    <div class="search">
                        <input type="text" name="Search" placeholder="Search here">
                        <label for="search"><i class="fas fa-search"></i></label>
                    
                    <div class="user"></div>
                    
                    </div>
                </div>
                
                    
                <div class="tables">
                    <div class="last-appointment">
                        <div class="heading">
                            <h2>Last Appointment</h2>
                            <a href="#" class="btn">View All</a>
                        </div>
                        <table class="Appointments">
                            <thead>
                                <td>Emp Number</td>
                                <td>Full Name</td>
                                <td>ID Number</td>
                                <td>Phone Number</td>
                                <td>Email</td>
                                <td>Action</td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>D002</td>
                                    <td>Antony Waweru</td>
                                    <td>27889574</td>
                                    <td>0774431064</td>
                                    <td>itsmeyourdoc@gmail.com</td>
                                    <td>
                                        <i class="far fa-eye"></i>
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-trash-alt"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>D002</td>
                                    <td>Antony Waweru</td>
                                    <td>27889574</td>
                                    <td>0774431064</td>
                                    <td>itsmeyourdoc@gmail.com</td>
                                    <td>
                                        <i class="far fa-eye"></i>
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-trash-alt"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>D002</td>
                                    <td>Antony Waweru</td>
                                    <td>27889574</td>
                                    <td>0774431064</td>
                                    <td>itsmeyourdoc@gmail.com</td>
                                    <td>
                                        <i class="far fa-eye"></i>
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-trash-alt"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>D002</td>
                                    <td>Antony Waweru</td>
                                    <td>27889574</td>
                                    <td>0774431064</td>
                                    <td>itsmeyourdoc@gmail.com</td>
                                    <td>
                                        <i class="far fa-eye"></i>
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-trash-alt"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>