<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Finance Dashboard</title>
        <link rel="stylesheet" href="financestyle.css">
        
        <script src="https://kit.fontawesome.com/79d8ba98e5.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="sidebar">
            <div class="logo"></div>
            <ul class="menu">
                <li class="active">
                    <a href="finance.html" >
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="incomedash.html">
                        <i class="fa-solid fa-chart-line"></i>
                        <span>Income</span>
                    </a>
                </li>

                <li>
                    <a href="expendituredash.html">
                        <i class="fas fa-briefcase"></i>
                        <span>Expenditure</span>
                    </a>
                </li>

                <li>
                    <a href="balancedash.html">
                        <i class="fas fa-question-circle"></i>
                        <span>Balance</span>
                    </a>
                </li>

                <li class="logout">
                    <a href="login.html">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="header">
                <div class="header-title">
                    <span>Primary</span>
                    <h2>Dashboard</h2>
                </div>
                <div class="user-info">
                    <div class="search-box">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Search">
                    </div>
                    <img src="IMAGES/fullfront.jpg">
                </div>
            </div>

            <div class="card-container">
                <h3 class="main-title">Today's Data</h3>
                <div class="card-wrapper">
                    <div class="payment-card light-red">
                        <div class="class-header">
                            <div class="amount">
                                <span class="title">
                                    Payment amount
                                </span>
                                <span class="amount-value">
                                    KES500
                                </span>
                            </div>
                            <i class="fa-solid fa-money-bill"></i>
                        </div>
                        <span class="card-detail">**** ****
                            **** 3484
                        </span>
                    </div>

                    <div class="payment-card light-purple">
                        <div class="class-header">
                            <div class="amount">
                                <span class="title">
                                    Payment order
                                </span>
                                <span class="amount-value">
                                    KES800
                                </span>
                            </div>
                            <i class="fas fa-list-sign icon"></i>
                        </div>
                        <span class="card-detail">**** ****
                            **** 1234
                        </span>
                    </div>

                    <div class="payment-card light-green">
                        <div class="class-header">
                            <div class="amount">
                                <span class="title">
                                    Payment customer
                                </span>
                                <span class="amount-value">
                                    KES2,000
                                </span>
                            </div>
                            <i class="fas fa-dollar-sign icon"></i>
                        </div>
                        <span class="card-detail">**** ****
                            **** 1478
                        </span>
                    </div>

                    <div class="payment-card light-blue">
                        <div class="class-header">
                            <div class="amount">
                                <span class="title">
                                    Payment proceed
                                </span>
                                <span class="amount-value">
                                    KES1,000
                                </span>
                            </div>
                            <i class="fas fa-check-sign icon"></i>
                        </div>
                        <span class="card-detail">**** ****
                            **** 6789
                        </span>
                    </div>
                </div>
            </div>

            <div class="tabular-wrapper">
                <h3 class="main-title"> Finance Data</h3>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Transaction Type</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2023-05-01</td>
                                <td>Expenses</td>
                                <td>Office Supplies</td>
                                <td>KES20,000</td>
                                <td>Office Expenses</td>
                                <td>Pending</td>
                                <td><button>Edit</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">Total:</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>